@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.pic span:hover {
  cursor: pointer;
  color: red;
}
.banner {
  transition: 0.5s;
  width: 100%;
}
.banner img {
  width: 100%;
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}
.member-box {
  position: relative;
  width: 200px;
  letter-spacing: 1px;
  color: rgb(8, 8, 8);
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  border-radius: 30px;
  object-fit: cover;
  transition: 0.4s;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
}
.header {
  display: flex;
  background: url("images/Background.png") no-repeat;
  background-size: cover;
  z-index: 3;

  justify-content: center;

  flex-direction: column;
  width: 100%;
  height: 200px;
}

.member-box:hover {
  cursor: pointer;
  background-color: rgba(1, 0, 0, 0.176);
  scale: 110%;

  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: 0.4s;
}
.profile-icon {
  position: absolute;
  opacity: 0;
  top: 90%;
  left: 45%;
  transition: 0.3s;
  width: 20px;
  border-radius: 50%;
}

.member-box:hover .profile-icon {
  transform: translate(0, -70%);
  opacity: 1;
}
.member-box p {
  margin-top: 130px;
  font-size: 12px;
}

.member-box:hover .profile {
  width: 150px;
  border-radius: 10px;
}

.people-box {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  transition: ease-in-out 0.3s;
  margin-bottom: 300px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  position: fixed;
  top: 2px;
  left: 2px;
  height: 50px;

  transition: ease-in-out 0.2s;
  border-radius: 50%;
}

.back:hover {
  cursor: pointer;
  background-color: #0000002d;
}
.back img {
  opacity: 0.8;
  width: 20px;
}

.spinner-box {
  width: 100%;

  display: flex;
  margin-left: 50px;
  width: 460px;
  align-items: center;
}
.second-heading {
  width: 50%;
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
}
.second-heading p {
  width: 50%;
  font-style: italic;
  text-transform: capitalize;
}
.wrapper {
  display: flex;

  text-transform: capitalize;
  height: 60px;

  flex-wrap: wrap;
  font-size: 40px;
  font-weight: bold;
}
em {
  color: rgb(255, 0, 0);
  font-weight: bold;
}
.span-container {
  height: 100%;

  color: rgb(255, 0, 0);
  overflow: hidden;
  margin-left: 10px;
}
.span-container span {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 10px;

  animation: spin_words ease-in-out 6s infinite;
}
.picimage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.578);
  overflow: hidden;
  border-radius: 10px;
}
.picimage img {
  width: 100%;
}
.pic {
  display: none;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.726);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.pic span {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 2%;
  left: 2%;
}

@keyframes spin_words {
  25% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(-200%);
  }

  75% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(-400%);
  }
}
